body {
  background-color: #000000;
  background-color: #000000;
  opacity: 1;
  background: linear-gradient(135deg, #f00bd955 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #f00b51 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #f00bd955 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #f00b51 25%, #000000 25%) 0px 0/ 80px 80px;}

* {
  margin: 0;
  color: #999999;
}



.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  width:100%;
  border: solid 3px #999999;
  padding-bottom: 20px;
  margin-bottom: 40px
}
.title {
  width: 600px;
}

.container {
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: center;

}
.playerOptionsContainer > div > h3 {
  background: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 20px;
  border: solid 3px #999999;
  width: 300px;
  text-align: center;
  font-size: 25px;
  width: 420px;
}
.playerOptionsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.playerOptions {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.playerOptions > button {
  width: 150px;
  height: 150px;
  background-color: rgb(0, 0, 0);
}
button > img {
  height: 100px;
  width: 100px;
}
button {
  border: #999999 solid 2px;
  transition: 300ms;
}
button:hover {
  border: #999999 solid 4px;
  transition: 100ms;
}
button:active {
  background-color: #1E2021;
}

.gameInfoContainer {
  display: flex;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
  gap: 0px;
  width: 300px;
  height: 250px;
  border: solid 3px #999999;
}

.gameInfoContainer > p {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: #1E2021 solid 3px;
}
.gameOutcome {
  color: #f00b51;
}


.help-tip{
  position: absolute;
  top: 18px;
  right: 18px;
  text-align: center;
  background-color: #000000;
  border-radius: 50%;
  width: 24px;
  border: #999999 solid 3px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}

.help-tip:before{
  content:'?';
  font-weight: bold;
  color: #999999;
}

.help-tip:hover p{
  display:block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
  display: none;
  text-align: left;
  background-color: #000000;
  padding: 20px;
  width: 120px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #999999;
  font-size: 20px;
  line-height: 1.4;
  border: #999999 solid 3px;
  border-radius: 20px;
}

.help-tip p:before{ /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:#1E2021;
  right:10px;
  top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% { 
      opacity:0; 
      transform: scale(0.6);
  }

  100% {
      opacity:100%;
      transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}