body {
  background-color: #000000;
opacity: 1;
background: linear-gradient(135deg, #48484855 25%, transparent 25%)
   -34px 0/ 68px 68px, linear-gradient(225deg, #484848 25%, transparent 
   25%) -34px 0/ 68px 68px, linear-gradient(315deg, #48484855 25%, transparent 
   25%) 0px 0/ 68px 68px, linear-gradient(45deg, #484848 25%, #000000 25%) 
   0px 0/ 68px 68px;
}

* {
  margin: 0;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  align-items: center;
  justify-content: center;
  background-color: white;
  width:100%;
  padding: 20px;
  opacity: 0.8;
  margin-bottom: 40px
}

.playerOptionsContainer > div {
  background: white;
  padding: 10px;
}
.playerOptionsContainer {
  flex-direction: column;
  gap: 20px;
}